<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#f7c600"
  type = "ball-circus"
  [fullScreen] = "true"
>
<h3 class="text-a b-07"> Carregando o site... </h3>
</ngx-spinner>

<header id="header">
  <app-menu></app-menu>
  <app-header></app-header>
</header>
<section id="content" class="bg-A py-5">
  <div class="container">
    <app-content></app-content>
  </div>
</section>
<section id="funciona" class="bg-A py-5">
  <div class="container">
    <app-funciona></app-funciona>
  </div>
</section>
<section id="produtos" class="py-5 bg-B" *ngIf="products">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-9">
        <h1 class="text-uppercase b-09 text-a text-center mb-4">
          Confira algumas ofertas:
        </h1>
      </div>
    </div>
    <app-ofertas></app-ofertas>
    <div class="text-center">
      <a [routerLink]="['ofertas']" mdbBtn type="button" outline="true" color="white" rounded="true" class="rounded-pill" mdbWavesEffect>
        <h4 class="b-09 mb-0 white-text">Ver todas as ofertas</h4>
      </a>
    </div>
  </div>
</section>
<section id="institucoes" class="py-5 bg-A">
  <div class="container">
    <app-institucoes></app-institucoes>
  </div>
</section>
<section id="review" class="py-5 bg-B" *ngIf="review">
  <div class="container">
    <app-review></app-review>
  </div>
</section>
<section id="mural" class="py-5 bg-B" *ngIf="gallery">
  <div class="container">
    <app-mural></app-mural>
  </div>
</section>
<footer id="footer" class="bg-A py-5">
  <div class="container">
    <app-footer></app-footer>
  </div>
</footer>
<app-scroll></app-scroll>
<div class="heart">
  <span class="heart">
    <mdb-icon fas icon="heart" size="3x" class="text-shadow fa-beat text-a"></mdb-icon>
  </span>
  <span class="heart-1">
    <mdb-icon fas icon="heart" size="4x" class="text-shadow fa-beat-1 heart-text"></mdb-icon>
  </span>
</div>