@import "../../../../vars";

#header {
  height: 100%;
}

.clube-condor{
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.6rem;
  color: #fff;
  @include bolder(600);
  span{
    color: $color-B;
  }
}
#participante{
  margin-top: 40px;
}

.heart-text{
  color: #CC0000!important;
}
/**
 * Heart
 */

.heart {
  position: fixed;
  //z-index: 998;
  bottom: 150px;
  right: 70px;
  opacity: 1;
  .fa-beat {
    animation:fa-beat 2s ease infinite;
  }
 }

 .heart-1 {
  position: fixed;
  //z-index: 998;
  bottom: 380px;
  opacity: 1;
  left: 60px;
  .fa-beat-1 {
    animation:fa-beat 3s ease infinite;
  }
 }


@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.15);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.05);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.15);
  }
  70% {
    transform:scale(1);
  }
}


@keyframes fa-beat-1 {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.05);
  }
  20% {
    transform:scale(.95);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.15);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.05);
  }
  70% {
    transform:scale(1);
  }
}

@media(max-width: 1024px) {
  #participante{
    margin-top: 20px;
  }

}

@media(max-width: 800px) {
  #participante{
    margin-top: 20px;
  }
  .clube-condor{ font-size: 1rem; line-height: 1.4rem;}
}

@media(max-width: 450px) {
  #participante{
    margin-top: 20px;
  }
  .clube-condor{ font-size: 1rem; line-height: 1.4rem;}
  .heart, .heart-1{
    display: none;
  }
}