<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#f7c600"
  type = "ball-circus"
  [fullScreen] = "true"
>
<h3 class="text-a b-07"> Carregando as Ofertas... </h3>
</ngx-spinner>
<header id="header">
  <app-header></app-header>
</header>
<section id="oferta" class="py-5 bg-A">
  <div class="container">
    <div class="row row-ios">
      <div *ngFor="let i of products" class="col-sm-12 d-sm-block d-md-none mb-3">
        <div class="produto-item z-depth-2">
          <div class="produto-infos">
            <span class="validade">Oferta válida de 27/08/2019 a 09/09/2019</span>
            <div class="produto-imagem text-center">
            <img [src]="i.imagem_p" class="img-fluid mx-auto">
            </div>
            <div class="produto-infos-details">
              <span class="produto-titulo">{{i.nome_ficha}}</span>
              <!-- <span class="produto-descricao">{{i.descricao}}</span> -->
              <span class="produto-preco-normal">R$ {{i.preco_vista}}<span>cada</span></span>
            </div>
          </div>
          <div *ngIf="!i.parcelas_clube" class="produto-preco">
              <span class="clube-condor"></span>
              <div class="produto-pagaso">Paga só</div>
              <div class="produto-preco-valor">
                <span class="rs">R$</span>
                <span class="preco-vista">{{i.preco_vista_clube}}</span>
                <span class="preco-unidade">cada</span>
              </div>
          </div>
          <div *ngIf="i.parcelas_clube" class="produto-clube">
            <span class="clube-condor"></span>
            <span class="badge badge-danger vista">{{i.parcelas_clube}}</span>
            <div class="produto-pagaso f-13">
                R$ {{i.prestacao_clube}}
              <p class="mb-0 white-text">Sem juros no cartão Condor</p>
            </div>
            <div class="produto-preco-valor">
              <p class="mb-0 white-text">ou à vista</p>
              <span class="rs">R$</span>
              <span class="preco-vista">{{i.preco_vista_clube}}</span>
              <span class="preco-unidade">cada</span>
            </div>
          </div>
          <div class="produto-add">
            <p class="mb-0 regiao">{{i.regiao}}</p>
            <p class="mb-0 obs">{{i.observacoes}}</p>
          </div>
        </div>
      </div>
      <div *ngFor="let i of products" class="col-md-6 col-lg-4 d-none d-md-block d-xl-none mb-3">
        <div class="produto-item z-depth-2">
            <div class="produto-infos">
                <span class="validade">Oferta válida de 27/08/2019 a 09/09/2019</span>
                <div class="produto-imagem text-center">
                <img [src]="i.imagem_p" class="img-fluid mx-auto">
                </div>
                <div class="produto-infos-details">
                  <span class="produto-titulo">{{i.nome_ficha}}</span>
                  <!-- <span class="produto-descricao">{{i.descricao}}</span> -->
                  <span class="produto-preco-normal">R$ {{i.preco_vista}}<span>cada</span></span>
                </div>
              </div>
              <div *ngIf="!i.parcelas_clube" class="produto-preco">
                  <span class="clube-condor"></span>
                  <div class="produto-pagaso">Paga só</div>
                  <div class="produto-preco-valor">
                    <span class="rs">R$</span>
                    <span class="preco-vista">{{i.preco_vista_clube}}</span>
                    <span class="preco-unidade">cada</span>
                  </div>
              </div>
              <div *ngIf="i.parcelas_clube" class="produto-clube">
                <span class="clube-condor"></span>
                <span class="badge badge-danger vista">{{i.parcelas_clube}}</span>
                <div class="produto-pagaso f-13">
                    R$ {{i.prestacao_clube}}
                  <p class="mb-0 white-text">Sem juros no cartão Condor</p>
                </div>
                <div class="produto-preco-valor">
                  <p class="mb-0 white-text">ou à vista</p>
                  <span class="rs">R$</span>
                  <span class="preco-vista">{{i.preco_vista_clube}}</span>
                  <span class="preco-unidade">cada</span>
                </div>
              </div>
              <div class="produto-add">
                <p class="mb-0 regiao">{{i.regiao}}</p>
                <p class="mb-0 obs">{{i.observacoes}}</p>
              </div>
        </div>
      </div>
      <div *ngFor="let i of products" class="col-xl-3 d-none d-xl-block mb-3">
        <div class="produto-item z-depth-2">
          <div class="produto-infos">
            <span class="validade">Oferta válida de 27/08/2019 a 09/09/2019</span>
            <div class="produto-imagem text-center">
            <img [src]="i.imagem_p" class="img-fluid mx-auto">
            </div>
            <div class="produto-infos-details">
              <span class="produto-titulo">{{i.nome_ficha}}</span>

              <span class="produto-preco-normal">R$ {{i.preco_vista}}<span>cada</span></span>
            </div>
          </div>
          <div *ngIf="!i.parcelas_clube" class="produto-preco">
              <span class="clube-condor"></span>
              <div class="produto-pagaso">Paga só</div>
              <div class="produto-preco-valor">
                <span class="rs">R$</span>
                <span class="preco-vista">{{i.preco_vista_clube}}</span>
                <span class="preco-unidade">cada</span>
              </div>
          </div>
          <div *ngIf="i.parcelas_clube" class="produto-clube">
            <span class="clube-condor"></span>
            <span class="badge badge-danger vista">{{i.parcelas_clube}}</span>
            <div class="produto-pagaso f-13">
                R$ {{i.prestacao_clube}}
              <p class="mb-0 white-text">Sem juros no cartão Condor</p>
            </div>
            <div class="produto-preco-valor">
              <p class="mb-0 white-text">ou à vista</p>
              <span class="rs">R$</span>
              <span class="preco-vista">{{i.preco_vista_clube}}</span>
              <span class="preco-unidade">cada</span>
            </div>
          </div>
          <!-- <div class="produto-add">
            <p class="mb-0 regiao">{{i.regiao}}</p>
            <p class="mb-0 obs">{{i.observacoes}}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <a 
    class="btn-floating btn-lg d-none d-lg-block" 
    [routerLink]="['']">
    <i class="fas fa-home"></i>
  </a>
</div>