@import "../../../../_vars";
f-13{ font-size: 1.3rem!important; }
.produto-item {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 25px;
  .produto-infos {
    .validade{
      color: #691614;
      font-size: .7rem;
      width: 100%;
      display: block;
      text-align: center;
      margin: 7px auto;
      padding: 0 15px;
    }
    .produto-imagem{
      height: 210px;
      text-align: center!important;
      img{ 
        padding: 0.25rem;
        background-color: #fff;
        border: 0px solid #dee2e6;
        border-radius: 0.25rem;
        max-height: 200px;
        width: auto;
      }
    }
    .produto-infos-details {
      color: #691614;
      padding: 10px;
      height: 90px;
      .produto-titulo{
        text-align: left;
        font-size: 1.1rem;
        font-weight: 800;
        min-height: 40px;
        display: block;
        width: 100%;
      }
      .produto-descricao {
        font-size: .7rem;
        font-weight: 600;
        display: block;
        width: 100%;
        height: 80px;
      }
      .produto-preco-normal {
        font-size: 1.3rem;
        font-weight: 800;
        display: block;
        width: 100%;
        span{
          margin-left: 5px;
          margin-top: -.4rem;
          font-size: .9rem;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }


  }
  .produto-preco {
    margin-top: 28px;
    .clube-condor {
      display: block;
      width: 60px;
      height: 60px;
      background-image: url(./../../../../assets/images/clube-condor.png);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto auto -13px;
      z-index: 9;
      position: relative;
    }
    .produto-pagaso {
      background-color: #1a91c6;
      font-size: 1rem;
      padding: 12px 15px;
      display: block;
      width: 100%;
      color: #ffed00;
      text-align: center;
      font-weight: 800;
      height: 63px;
      p{ 
        font-size: .6rem;
        font-weight: 400;
      }
    }
    .produto-preco-valor {
      background-color: #ff8924;
      font-size: 1.6rem;
      padding: 8px 15px 15px;
      display: block;
      width: 100%;
      color: #fff;
      text-align: center;
      font-weight: 800;
      min-height: 84px;
      .rs {
        margin-right: 5px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
      }
      .preco-vista {
        font-size: 2.3rem;
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
      }
      .preco-unidade {
        margin-left: 5px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .produto-clube {
    margin-top: -20px;
    .clube-condor {
      display: block;
      width: 60px;
      height: 60px;
      background-image: url(./../../../../assets/images/clube-condor.png);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto auto -13px;
      z-index: 9;
      position: relative;
      top: 1.5rem;
    }
    .vista {
      width: 50px;
      height: 50px;
      position: relative;
      left: 1rem;
      top: 0rem;
      font-size: 1.2rem;
      border-radius: 50%;
      line-height: 2.5rem;;
    }
    .produto-pagaso {
      margin-top: -1.5rem;
      background-color: #1a91c6;
      font-size: 1.3rem;
      padding: 12px 15px;
      display: block;
      width: 100%;
      color: #ffed00;
      text-align: center;
      font-weight: 800;
      span{
        margin-top: -.4rem;
        font-size: .9rem;
        display: inline-block;
        vertical-align: middle;
      } 
      p{ 
        font-size: .6rem;
        font-weight: 400;
      }
    }
    .produto-preco-valor {
      background-color: #ff8924;
      font-size: 1.4rem;
      padding: 8px 15px 15px;
      display: block;
      width: 100%;
      color: #fff;
      text-align: center;
      font-weight: 800;
      p{
        font-size: .9rem;
        text-align: left;
      }
      .rs {
        margin-right: 5px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
      }
      .preco-vista {
        font-size: 2.3rem;
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
      }
      .preco-unidade {
        margin-left: 5px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  
  .produto-add{
    padding: 10px;
    min-height: 170px;
    .regiao{
      font-size: .8rem;
      font-weight: 700;
      color: $color-box-blog;
    }
    .obs{
      font-size: .7rem;
      font-weight: 400;
      color: $color-box-blog;
    }
  }
}


.scroll-to-top {
  position: fixed;
  //z-index: 998;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

 .btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: #fff;
}

.btn-floating.btn-lg {
  width: 61.1px;
  height: 61.1px;
}

.btn-floating.btn-lg i {
  font-size: 1.625rem;
  line-height: 61.1px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: $color-C;
}
