
<div class="row justify-content-center mt-5">
  <div class="col-md-9">
    <h1 class="text-uppercase b-09 text-a text-center mb-4">
      economia e solidariedade de mãos dadas com você
    </h1>
    <p class="lead text-center white-text w-75 mx-auto">
      Com a Campanha Solidária Condor, você ajuda quem precisa e ainda economiza em suas compras. 
    </p>
  </div>
</div>
<div class="row justify-content-center my-4" *ngIf="video">
  <div class="col-md-8">
    <app-video [videoSRC]="videoSRC"></app-video>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <p class="white-text text-justify">
      A Campanha Solidária Condor é uma ação de responsabilidade social que acontece desde 2007 e já arrecadou mais de 4,1 milhões de reais para 241 instituições beneficentes. Isso só é possível graças à parceria entre a Rede Condor e seus fornecedores, além da ajuda dos clientes e colaboradores.
    </p>
    <p class="white-text text-justify">
      Neste ano, a campanha beneficiará 24 instituições beneficentes de 16 cidades paranaenses (Almirante Tamandaré, Apucarana, Araucária, Campo Largo, Campo Mourão, Castro, Colombo, Curitiba, Fazenda Rio Grande, Lapa, Londrina, Maringá, Paranaguá, Pinhais, Ponta Grossa e São José dos Pinhais) e 2 catarinenses (Joinville e Mafra).
    </p>
    <p class="white-text text-justify">
      Durante o período da Campanha Solidária Condor, parte da venda dos produtos anunciados nos tabloides da campanha será revertida em vales-compras Condor para ajudar as 24 instituições participantes. Os vales-compras poderão ser utilizados por tempo indeterminado, em qualquer uma das 50 lojas Condor, para aquisição de produtos de mercearia, higiene, limpeza, perecíveis, bazar, têxtil e eletro. Participe você também!
    </p>
  </div>
</div>
