<mdb-carousel [animation]="'fade'" class="carousel slide carousel-fade rgba-4">
  <mdb-carousel-item class="border rounded py-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:300px;overflow-y: scroll;">
          <h4 class="text-a b-09 text-uppercase border-a">
            <mdb-icon fas icon="heart" class="mx-1 fa-beat-2"></mdb-icon>
            escolha das instituições
          </h4>
          <p>
            Todos os anos, são selecionadas diversas instituições que possuem sede nas cidades em que o Condor atua. A instituição que tiver interesse em candidatar-se como uma das beneficiadas pela campanha deve efetivar um pré-cadastro para participar de uma pré-seleção.
          </p>
        </div>
      </div>
    </div>

  </mdb-carousel-item>
  <mdb-carousel-item class="border rounded py-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:300px;overflow-y: scroll;">
          <h4 class="text-a b-09 text-uppercase border-a">
            <mdb-icon fas icon="heart" class="mx-1 text-shadow fa-beat-2"></mdb-icon>
            pré-cadastro
          </h4>
          <p>
            Podem se inscrever apenas instituições que atendam aos seguintes critérios:
          </p>
          <ol>
            <li>Ofereçam atividades beneficentes e inteiramente gratuitas para a comunidade;</li>
            <li>Seja constituída como sociedade sem fins lucrativos;</li>
            <li>Ter sede social, própria ou não, localizada em uma das cidades onde o Condor possui loja;</li>
            <li>As pessoas assistidas pela instituição deverão residir em localidades onde o Condor possui loja;</li>
            <li>O presidente e o tesoureiro, como também seu representante legal (caso não sejam aqueles) não podem ter restrições quanto ao seu crédito. Ou seja, não poderão constar em nenhum cadastro negativo de proteção ao crédito.</li>
          </ol>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item class="border rounded py-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:300px;overflow-y: scroll;">
          <h4 class="text-a b-09 text-uppercase border-a">
            <mdb-icon fas icon="heart" class="mx-1 text-shadow fa-beat-2"></mdb-icon>
            documentos para pré-cadastro
          </h4>
          <p>
            Devem ser enviados para o e-mail edicleia.carvalho@condor.com.br, no formato PDF, os documentos solicitados conforme listagem a seguir:
          </p>
          <ol>
            <li>Ata de Constituição da entidade;</li>
            <li>Estatuto;</li>
            <li>Carta de apresentação da organização, assinada pelo presidente e tesoureiro, solicitando a inclusão na Campanha Solidária Condor;</li>
            <li>Declaração assinada pelo representante legal da entidade, comprovando regular funcionamento e atestando o desenvolvimento de ações internas;</li>
            <li>Cartão CNPJ;</li>
            <li>Ata de Eleição;</li>
            <li>Comprovantes de registros em órgãos públicos (municipais e estaduais);</li>
            <li>Alvará de funcionamento;</li>
            <li>CPF e RG (digitalizados) do presidente e tesoureiro.</li>
          </ol>
          <p>
            As instituições que forem selecionadas deverão apresentar os documentos originais (ou fotocópias autenticadas) quando solicitados. Os cadastros incompletos ou que não anexarem os arquivos dos documentos solicitados terão suas inscrições desconsideradas.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item class="border rounded py-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:300px;overflow-y: scroll;">
          <h4 class="text-a b-09 text-uppercase border-a">
            <mdb-icon fas icon="heart" class="mx-1 text-shadow fa-beat-2"></mdb-icon>
            seleção
          </h4>
          <p>
            A seleção das instituições a serem beneficiadas pela Campanha Solidária é realizada por um comitê multidisciplinar, formado pelas Gerências das lojas e Instituto Joanir Zonta, que analisará critérios como a natureza das atividades, o número de pessoas assistidas e o tempo de existência da instituição, entre outros. As instituições selecionadas serão visitadas por representantes do Condor, que exigirão comprovação das informações fornecidas. Não havendo comprovação inquestionável, a instituição será desclassificada, sendo substituída por outra, conforme decisão do comitê.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item class="border rounded py-5">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:300px;overflow-y: scroll;">
          <h4 class="text-a b-09 text-uppercase border-a">
            <mdb-icon fas icon="heart" class="mx-1 text-shadow fa-beat-2"></mdb-icon>
            benefícios para quem precisa
          </h4>
          <p>
            Parte do valor da venda dos produtos anunciados em tabloides especiais é revertida em vales-compras Condor doados a instituições beneficentes pré-selecionadas. Os vales-compras Condor poderão ser utilizados para aquisição de produtos em qualquer loja da rede, exceto cigarros e bebidas alcoólicas, que beneficiem exclusivamente as atividades ou as pessoas assistidas pela instituição, não podendo em hipótese alguma serem utilizados para aquisição de bens pessoais para os dirigentes ou representante legal da entidade.
          </p>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>