@import "../../../../vars";

.border-a {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  width: 90%;
  border-bottom: 1px solid $color-G;
}
.fa-beat-2{
  animation:fa-beat 2.8s ease infinite;
}

@keyframes fa-beat-2 {
  0% {
    transform:scale(.8);
  }
  5% {
    transform:scale(.65);
  }
  20% {
    transform:scale(.85);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(.95);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(.7);
  }
  70% {
    transform:scale(1);
  }
}