@import "../../../../vars";

.linha{
  border: 2px solid $color-C;
  border-radius: 20px;
}

.white-badge{
  background: #fff;
  color: $color-A!important;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 900;
}