<div class="row justify-content-center mt-4 mb-2">
  <div class="col-md-12">
    <h2 class="text-uppercase b-09 px-3 text-a text-center">
      como funciona
    </h2>
    <!-- <app-slider></app-slider> -->
  </div>
</div>

<div class="row justify-content-center linha p-3 mx-2">
  <div class="col-md-4 col-xl-4" *ngFor="let item of funciona">
    <img [src]="item.img" alt="{{item.texto}}" class="mx-auto d-block w-50">
    <div class="d-flex flex-row">
      <div class="p-2"><span class="badge white-badge">{{item.num}}</span></div>
      <div class="p-2">{{item.texto}}</div>
    </div>
  </div>
</div>