<div class="row justify-content-center">
  <div class="col-md-9">
    <h1 class="text-uppercase b-09 text-a text-center mb-4">
      mural
    </h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-9">
    <app-gallery></app-gallery>
  </div>
</div>