<div class="row ios justify-content-center">
  <div class="col-lg-11 col-xl-10 www-condor">
    <h2 class="text-center text-uppercase b-09 mb-2">
      <a href="https://www.condor.com.br" class="text-a" target="_blank">www.condor.com.br</a>
    </h2>
  </div>
</div>