<div class="row justify-content-center mb-4">
  <div class="col-md-9">
    <h1 class="text-uppercase b-09 text-a text-center mb-4">
      edições anteriores
    </h1>
    <p class="mb-0">
      Desde que foi lançada, a Campanha Solidária já beneficiou diversas instituições das cidades onde estão localizadas as lojas Condor. Saiba quais foram as instituições favorecidas pela campanha nos anos anteriores clicando abaixo. Mais informações podem ser obtidas pelo telefone (41) 3888-2010.
    </p>
    <div class="text-center w-50 mx-auto mt-4">
      <select class="browser-default custom-select" (change) = "reviewYear($event)">
        <option selected>Selecione o ano</option>
        <option *ngFor="let a of ano" [value]="a.ano">{{a.ano}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="border rounded py-3 white-text rgba-4 z-depth-2">
      <div id="parentDiv" scrollSpy [spiedTags]="['DIV']"  style="height:400px;overflow-y: scroll;">
        <div id="tbl" class="px-5">
          <h2 class="text-center text-a b-9 my-3">{{year}}</h2>
          <table mdbTable striped="true">
            <thead class="bg-Table text-uppercase text-center">
              <tr><th class="b-09 h6" width="30%">Cidade</th><th class="b-09 h6">Institução</th></tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of review">
                <td class="white-text text-uppercase text-center">{{el.cidade}}</td>
                <td class="white-text text-uppercase text-center">{{el.nome}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>