<p>{{videoSRC}}</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/4HYj66F2DJ0" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>