<h1 class="text-uppercase b-09 text-a text-center mb-4">
  instituições participantes
</h1>
<div class="row justify-content-center mb-5">
  <div class="col-md-3">
    <select class="browser-default custom-select" (change) = "selectCidade($event)">
      <option selected>Estado</option>
      <option *ngFor="let s of estado" value="{{s.edo}}">{{s.edo}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="browser-default custom-select" (change) = "selectInstitucao($event)">
      <option selected>Cidade</option>
      <option *ngFor="let c of cidade" [value]="c.nome">{{c.nome}}</option>
    </select>
  </div>
  <div class="col-md-5">
    <select class="browser-default custom-select" (change) =  "selectID($event)">
      <option selected>Institução</option>
      <option *ngFor="let i of institucao" [value]="i.codigo">{{i.institucao}}</option>
    </select>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3 class="text-center white-text b-08 mb-4 border-bottom pb-1">{{title}}</h3>
    <p class="text-justify">{{resumo}}</p>
    <p><span class="b-07">Telefone:</span> {{telefone}}</p>
    <p><span class="b-07">Endereço:</span> {{endereco}}</p>
  </div>
  <div class="col-md-6">
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-slide *ngFor="let number of [1,2,3]">
        <img class="d-block w-100" src="./assets/institucoes/{{codigo}}/{{number}}.jpg" alt="Instituções">
      </mdb-slide>
    </mdb-carousel>
  </div>
</div>