<!-- Menu Mobile -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-red" class="d-block d-xl-none" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand mx-auto mt-1" href="https://www.condor.com.br" target="_blank">
      <img src="./assets/images/logo-condor.svg" class="text-shadow mx-auto d-block" height="30px" alt="Logo Condor">
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item waves-light text-center f-roboto" *ngFor="let a of url">
        <a class="nav-link text-uppercase font-weight-bold f-2" *ngIf="a.scroll === 'true'"  [ngx-scroll-to]="a.url">{{a.name}}</a>
        <a class="nav-link text-uppercase f-2 font-weight-bold" *ngIf="a.scroll === 'false'"  href="{{a.url}}" target="_blank"  
        >{{a.name}}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark my-3" class="d-none d-xl-block" [containerInside]="true" id="desktop">
  <mdb-navbar-brand>
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="https://www.condor.com.br" target="_blank">
        <img src="./assets/images/logo-condor.svg" class="text-shadow" height="40px" alt="Logo Condor">
      </a>
    </mdb-navbar-brand>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light text-center roboto" *ngFor="let a of url">
        <a mdbBtn gradient="condor-amarelho" class="nav-link text-uppercase font-weight-bold f-2 rounded-pill px-3" 
          *ngIf="a.scroll === 'true'"  [ngx-scroll-to]="a.url">{{a.name}}</a>
        <a mdbBtn gradient="condor-amarelho" class="nav-link text-uppercase f-2 font-weight-bold rounded-pill px-3" 
          *ngIf="a.scroll === 'false'"  href="{{a.url}}" target="_blank"  
        >{{a.name}}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
  