/**
 * Font Style
 */



@mixin family ($nome) {
  font-family: $nome, sans-serif!important;
}

/**
 * Colors
*/

$color-A: #011343;
$color-B: #063279 ;
$color-C: #1852c0;
$color-D: #ff9240;
$color-E: #ffd54f;
$color-F: #1e8adf;
$color-G: #f7c600;


$color-init: #fb4e0a;
$color-last: #1f4586;
$color-box: #ffa200;
$color-box-blog: #731e17;

@mixin bolder($number) {
  font-weight: $number!important;
}

@mixin gradient($grau,$color1, $color2) {
  background: linear-gradient($grau, $color1, $color2)!important;
}

@mixin shadow($opacidade: .8) {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, $opacidade);
}

@mixin imgCenter($port) {
  width: $port; 
  margin: 0 auto;
}

/**
 * Compatibilidade com Safari Antigo
 */
@mixin safari() {
  display: -webkit-box;
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-flex-wrap: wrap; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
}

