@import "_vars.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap');


body { 
  @include family('Nunito'); 
  background: url(./assets/images/bg.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Barckground
.bg-A {
  background: $color-A!important;
  color: #fff;
}

.bg-B {
  background: $color-B!important;
  color: #fff;
}

.bg-Table {
  background: $color-G;
}
// Text-decore
.text-shadow { text-shadow: 2px 2px 3px rgba(0, 0, 0, .8); }
.text-a { color: $color-G; } 
.text-b { color: $color-B; }
.text-c { color: $color-C; }

// Font-weight
.b-02{ @include bolder(200); }
.b-03{ @include bolder(300); }
.b-04{ @include bolder(400); }
.b-05{ @include bolder(500); }
.b-06{ @include bolder(600); }
.b-07{ @include bolder(700); }
.b-08{ @include bolder(800); }
.b-09{ @include bolder(900); }

// Compatibilidade Safari IOS

// Gradient
.rgba-1, .rgba-1:after { background-color: rgba(0, 0, 0, 0.45); }
.rgba-2, .rgba-2:after { background-color: rgba(0, 0, 0, 0.60); }
.rgba-3, .rgba-3:after { background-color: rgba(0, 0, 0, 0.75); }
.rgba-4, .rgba-4:after { background-color: rgba(0, 0, 0, 0.20); }

.condor-azu-gradient { @include gradient(180deg, $color-C, $color-F); }
.condor-amarelho-gradient { @include gradient(180deg, $color-D, $color-E); }

// Compatibilidade Safari
.ios{ @include safari(); }

.swal2-title {
  font-size: 1.3em!important;
}

.nome-gan {
  font-size: 2rem!important;
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
  width:  40px!important;
  height: 40px!important;
  padding: 5px 20px 0 0px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
}

.btn-outline-white {
  border: 2px solid #fff!important;
  background-color: transparent!important;
  color: #fff!important;
}

.navbar {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0)!important;
}

@media(max-width: 800px) {
  .navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
  }
}