<div class="container">
  <div class="row row-ios no-gutters">
    <div class="col-12 col-xl-12 text-center">
      <img src="./assets/images/header_desktop.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
